.fullScreenForm{
    top: 0;
    left: 0;
    position : fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 1000;
}
.blurBackground {
    filter: blur(5px);
}
.homepage {
    position: relative;
    display: flex;
    height: 100vh;
}
.features{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100vw; 
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: flex-start;
}
